// @import '../../Components/NavBar.scss'
@import '../../App.scss';
// @import '../../Components/mediaQueries';

.main-section{
    @include direccionFlex(row);
    background-color: rgb(177, 177, 177);
    // width: 100%;

    .Order-taking{
        * {
            margin: .2rem;
            padding: 0;
        }
        width: 50%;
        margin: .5rem;
        padding: .3rem;
        background-color: rgb(255, 255, 255);
        @include direccionFlex(column);
        .order-information{
            width: 100%;
            @include direccionFlex(row); 
            justify-content: space-around;
            align-items: center;
            input {
                height: 1.5rem;
            }
            p{
                margin-right: .5em;
            }
        }
        .row-name-columns{
            @include direccionFlex(row);
            justify-content: space-between;

        }
        
        .Line{
            border: 2px solid black;
        }
        .Total{
            // color: yellow;
            text-align: right;
            margin: .5rem;
        }
        .Buttons{  
            @include direccionFlex(row); 
            justify-content: space-evenly;
            .CancelBtn{
                @include buttons($loginBtn, 3rem,$loginBtn);
                color: white;
                width: 40%;
            }
    
            .SendBtn{
                @include buttons($addBtn, 3rem, $addBtn);
                color: white;
                width: 40%;
    
            }
        }
   
    }
    @media only screen and (min-width: 1200px) {
        .Order-taking{
            // background-color: slateblue;
            width: 35%;
        }
        
        justify-content: space-evenly;
    }

}

