@import '../../App.scss';


.card-order-ready{
    background-color: white;
    // *{
    //     margin: 0;
    //     padding: 0;
    // }
    // @include direccionFlex(column);
    border: 1px solid rgb(185, 185, 185); 
    .row-title{
        @include direccionFlex(row);
        justify-content: space-between;
        border-bottom: 2px solid rgb(185, 185, 185); 
        .row-qty{
            width: 3rem; 
            text-align: center;
            padding: .3rem;
        }
        
        span {
        width: 30%;
        margin: 0;
        padding: .3rem;
        // border: 2px solid rgb(112, 114, 112 );
        }
    }
    .row-body{
        @include direccionFlex(row);
        justify-content: space-between;
        .row-qty{
            width: 3rem;
            text-align: center;
            padding: .3rem; 
        }
        span{
        width: 30%;
        margin: 0;
        padding: .3rem;
        // background-color: teal;
        // border: 2px solid rgb(185, 185, 185);
        }
        border-bottom: 2px solid rgb(185, 185, 185); 

    }
    .card-footer{
        @include direccionFlex(row);
        justify-content: space-between;
        padding: .5rem;
        button{
            background-color: $loginBtn;
            padding: .2rem;
            border-radius: 8px;
            border: 2px solid $loginBtn;
        }

    }
}