@import '../../App.scss';

.row{
    *{
        margin: 0;
        padding: 0;
    }
    @include direccionFlex(row);
    justify-content: space-between;
    input{
        width: 15%;
        height: 2rem;
        margin: .3rem;
        padding: .3rem;
        input[type="number"] {
            -webkit-appearance: textfield;
               -moz-appearance: textfield;
                    appearance: textfield;
          }
          input[type=number]::-webkit-inner-spin-button, 
          input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
          }
    }
    p{
        color: rgb(3, 66, 68);
        width: 30%;
        text-align: center;
        margin: 0;
    }
}