
@import '../App.scss';


@mixin NavBar {
  nav {
    @include direccionFlex(row);
    height: 4vh;
    img{
      width: 10vw;
    }
    overflow: hidden;
    background-color: $baseColor-2;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    ul {
      text-align: center;
      list-style-type: none;
      margin-top: .3rem;
      // margin: 0;
      padding: 15px;
      li {
        display: inline;
        font-family: "Fira Sans", sans-serif;
        font-size: 17px;
        a {
          color: #f2f2f2;
          text-decoration: none;
          padding: 14px;
          &:hover {
            background-color: $baseColor-3;
          }
        }
      }
    }
    .icon{

      color: white;
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 2rem;
      margin-top: .3rem;
    }
  } 
}

@mixin Table {
  border-collapse: collapse;
	width: 100%;
  margin: 0 0 2em;
	thead {
		border-bottom: 3px solid $baseColor-2;
		th {
			padding: 0.35em 0 .35em;
       font-weight: 400;
			text-align: left;
			font-size: 1.25em;
		}
		
	}

	tbody {
		border-bottom: 3px solid $baseColor-3;
		tr {
			border-bottom: 2px solid #ddd;       
			td {
				padding: .75em 0;
			}
		}
	}
}


@mixin Pagination {
  ul{
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  ul li {display: inline;}

  ul li a {
      color: $baseColor-3;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 10px;
  }
  ul li a:hover:not(.active) {background-color:$baseColor-2;}
}


// ---
.navBarComponent{
  @include NavBar()
}

.tableComponent{
  @include Table()
}

.paginationComponent{
  @include Pagination()
}