$baseColor: #e0b61f;
$baseColor-2: #9d2b16;
$baseColor-3:#9d5716;
$baseColor-4:white;
$loginBtn: #e03e1f;
$addBtn: #e06f1f;
$breakpoint-desktop: 768px;
$title: American Typewriter;


// @import './Components/mediaQueries';

@mixin direccionFlex ($direccion) {
    display: flex;
    align-content: space-between;
    flex-direction: $direccion;
}

@mixin buttons ($color, $h, $border) {
    border-radius: 8px;
    background: $color;
            height: $h;
            padding: .5rem;
            border: solid 2px $border;
}

@mixin forms ($widthBtn, $inputMargin) {
    @include direccionFlex(column);
    background-color: white;
    border-radius: 10px;
    height:  30%;
    width: 40%;
    display: flex;
    padding: 1rem;
    margin: 5rem auto;
    input {
        @include buttons(white, 2rem, gray);
        margin: $inputMargin;
    }
    select {
        @include buttons(white, 3rem, gray);
        margin: $inputMargin;
    }
    button {
        @include buttons($loginBtn, 3rem, $loginBtn);
        color: ivory;
        width: $widthBtn;

    }
}