@import '../../App.scss';

#login {
    width: 100vw;
    height: 100vh;
    background: $baseColor;
    h1 {
        color: $loginBtn;
        width: 100vw;
        height: 10vh;
        position: relative;
        font-family: American Typewriter;
        font-style: normal;
    }
    body{
        @include direccionFlex(row);
        align-items: center;
        box-sizing: border-box;
        width: 100vw;
        height: 90vh;
        margin: 0 auto;
        background-color: $baseColor;
        form {
            @include direccionFlex(column);
            background-color: white;
            border-radius: 10px;
            height:50%;
            width: 40%;
            display: flex;
            padding: 2rem;
            margin: 5%;
            input {
                @include buttons(white, 2rem, gray);
                margin: 20px;
            }
            select {
                @include buttons(white, 3rem, gray);
                margin: 20px;
            }
            button {
                @include buttons($loginBtn, 3rem, $loginBtn);
                color: ivory;
            }
        }
        img{
            border-radius: 100%;
            margin: 1.5rem;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}