@import '../../App.scss';

div {
    // width: 100%;
    // background: $baseColor;
    *{
        margin: 0;
        padding: 0;
    }
    h1 {
        color: $baseColor-2;
        position: absolute;
        top: 2rem;
        left: 4rem;
        font-family: $title;
        font-style: normal;
        font-size: 3rem;
    }
    .body{
        background-color: $baseColor;
        padding: 2rem;
        @include direccionFlex(row);
        height: 100vmax;
        form {
            margin-left: 3rem;
            @include direccionFlex(column);
            background-color: white;
            border-radius: 10px;
            height:  30%;
            width: 40%;
            display: flex;
            padding: 2rem;
            margin: 5rem auto;
            @include forms(auto, 20px);
        }
        img{
            border-radius: 10%;
            background-color: $baseColor-3;
            height: 15rem;
            width: 40%;
            position: relative;
            margin: 1rem;
            top: 13rem;
        }
        p{
            color: $loginBtn;
            font-family: $title;
            text-align: center;

        }
    }
}