@import '../../App.scss';
#users{
    *{
        padding: 0;
        margin: 0;
    }
    @include direccionFlex(column);
    width: 100vw;
    height: 100vh;
    background: $baseColor-4 ;
    .containertop{
        @include direccionFlex(row);
        justify-content: space-around;
        img{
            width: 250px;
            height: 250px;
            margin: 5rem 0rem;
        }
    }
    .form {
        @include direccionFlex(column);
        background-color: #e0b61f;
        border-radius: 10px;
        padding: .5rem;
        margin: 5rem 5rem;
        width: 50%;
        input {
            @include buttons(white, 1rem, gray);
            margin: .5rem;
        }
        select {
            @include buttons(white, 2.5rem, gray);
            margin: .5rem;
            color: gray;
        }
        button {
            @include buttons($loginBtn, 2rem, $baseColor-4);
            color: ivory;
            // width: .1rem;
    
        }

    }
}